{% extends "layout.html" %}

{% block body %}
    <h1>{{ g.heading }}</h1>
    <p>
    {% for category in categories %}
    {{ category.name }}, 
    {% endfor %}
    </p>
    
    <p>
        -----------------
    </p>
    {% for message in messages %}
    <p><b>{{ ug.get_account(message.account_id).name }}</b>: {{ message.text }}
        &nbsp; | Latest edit: {{ message.date_modified }} &nbsp; 
        {% if current_user.id == message.account_id %}
        <a href="{{ url_for('modify_message_form', message_id=message.id) }}">edit</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        {% if current_user.id == message.account_id or current_user.get_role().role == "ADMIN" %}
        <a href="{{ url_for('delete_message', message_id=message.id) }}">delete</a>
        {% endif %}
        {% endif %}
    </p>
    {% endfor %}
    <b>Here is a button for making new messages. Why they aren't comments? Because I say so</b>
    <form method="GET" action="{{ url_for('message_form', group_id= group_id) }}">
        <input type="submit" value="Make a new message"/>
    </form>
{% endblock %}